{% load static tailwind_tags %}

<div class="relative isolate overflow-hidden bg-[var(--pyladies-dark)] py-16 sm:py-24 lg:py-32" id="footer">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-2">
      <div class="max-w-xl lg:max-w-lg">
        <h2 class="text-4xl font-semibold tracking-tight text-white">PyLadies Kuala Lumpur</h2>
        <p class="mt-4 text-lg text-gray-300">PyLadies is an international mentorship group focused on helping more women become active participants and leaders in the Python open-source community. Our mission is to promote, educate, and advance a diverse Python community.</p>

      </div>
      <dl class="grid grid-cols-1 gap-x-8 gap-y-10 sm:grid-cols-2 lg:pt-2">
        <div class="flex flex-col items-start">
          <div class="rounded-md bg-white/5 p-2 ring-1 ring-white/10">
            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 text-white">
              <path d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </div>
          <dt class="mt-4 text-base font-semibold text-white">Upcoming Events</dt>
          <dd class="mt-2 text-base/7 text-gray-400">Join our events to learn, network, and grow your Python skills.</dd>
          <a href="/events" class="mt-2 text-sm text-[var(--pyladies-light)] hover:text-white">View Upcoming Events</a>
          <a href="/events/?m=false" class="mt-1 text-sm text-[var(--pyladies-light)] hover:text-white">View Past Events</a>
        </div>
        <div class="flex flex-col items-start">
          <div class="rounded-md bg-white/5 p-2 ring-1 ring-white/10">
            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 text-white">
              <path d="M10.05 4.575a1.575 1.575 0 1 0-3.15 0v3m3.15-3v-1.5a1.575 1.575 0 0 1 3.15 0v1.5m-3.15 0 .075 5.925m3.075.75V4.575m0 0a1.575 1.575 0 0 1 3.15 0V15M6.9 7.575a1.575 1.575 0 1 0-3.15 0v8.175a6.75 6.75 0 0 0 6.75 6.75h2.018a5.25 5.25 0 0 0 3.712-1.538l1.732-1.732a5.25 5.25 0 0 0 1.538-3.712l.003-2.024a.668.668 0 0 1 .198-.471 1.575 1.575 0 1 0-2.228-2.228 3.818 3.818 0 0 0-1.12 2.687M6.9 7.575V12m6.27 4.318A4.49 4.49 0 0 1 16.35 15m.002 0h-.002" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </div>
          <dt class="mt-4 text-base font-semibold text-white">Connect with Us</dt>
          <dd class="mt-2 text-base/7 text-gray-400">Join our community and follow us on social media for the latest updates.</dd>
          <div class="mt-2 flex flex-col items-start gap-1">
            <a href="mailto:kl@pyladies.com" target="_blank" class="text-sm text-[var(--pyladies-light)] hover:text-white">Email Us</a>
            <a href="https://www.facebook.com/profile.php?id=61579160246701" target="_blank" class="text-sm text-[var(--pyladies-light)] hover:text-white">Facebook</a>
            <a href="https://peatix.com/group/16505241" target="_blank" class="text-sm text-[var(--pyladies-light)] hover:text-white">Peatix</a>
            <a href="https://www.linkedin.com/in/pyladieskl/" target="_blank" class="text-sm text-[var(--pyladies-light)] hover:text-white">LinkedIn</a>
            <a href="https://www.instagram.com/pyladies_kl" target="_blank" class="text-sm text-[var(--pyladies-light)] hover:text-white">Instagram</a>
            <a href="https://x.com/PyladiesKL" target="_blank" class="text-sm text-[var(--pyladies-light)] hover:text-white">X</a>
          </div>
        </div>
      </dl>
    </div>
  </div>
</div>